.main{
	position:relative;
	width:90%;
	height:90%;
}

.main .mainDiv{
	width:100%;
	height:100%;
	margin-left:15%;
}
.main h1{
	font-size:3rem;
}
.main .mainDiv .tile{
	float: left;
	height: 40%;
	width: 20%;
	text-align:center;
	font-size:2rem;
	background-color:#B2B2FF;
	margin-left:1%;
	vertical-align:middle;
	line-height:6;
	border-radius:50%;
	cursor:pointer;
}

.main .mainDiv .tile .inputDir{
	visibility:hidden;
}
.main .overlay{
	position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; /* ie fallback png background image */
    z-index:9999;
    color:white;
    width:100%;
    height:100%;
}